
@inject SignInManager<ApplicationUser> signInManager;

                        
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Dashboard/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Dashboard/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Dashboard/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/Dashboard/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Dashboard/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Dashboard/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Dashboard/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Dashboard/plugins/summernote/summernote-bs4.min.css">

</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/Dashboard/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">


            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li>
                    <ul class="navbar-nav ml-auto">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form method="post" asp-action="LogOut" asp-controller="Account">
                                    <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                        Logout @User.Identity.Name
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        }

                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-controlsidebar-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/Dashboard/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Kush.dev</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    Forms
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>ANM</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>GNM</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="ApplicantMbbs" asp-action="Create" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>MBBS</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Allied Courses</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        @if (this.User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-table"></i>
                                    <p>
                                        Identity Management
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Admin" asp-action="ListUsers">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p> User Management</p>
                                        </a>

                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Admin" asp-action="ListRoles" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Roles Management</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }



                        <li class="nav-header">Data Management</li>
                        @if (this.User.IsInRole("DHS"))
                        {
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-table"></i>
                                    <p>
                                        Data Display
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="ApplicantMbbs" asp-action="Display">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p> MBBS</p>
                                        </a>

                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="" asp-action="" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>ANM</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="" asp-action="" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>GNM</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="" asp-action="" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Allied</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                       
                        
                        
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    Master Data
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="Master" asp-action="EditState" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>States</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a asp-controller="District" asp-action="EditDistrict" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Districts</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a asp-controller="Block" asp-action="EditBlock" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Block</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a asp-controller="Village" asp-action="EditVillage" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Village</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Age" asp-action="EditAge" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Age</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="AppType" asp-action="EditAppType" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Applciation Type</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a asp-controller="Category" asp-action="EditCategory" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Category</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="ScreeningCenter" asp-action="EditCenter" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Screening Center</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Allied" asp-action="EditAllied" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Allied Courses</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Status" asp-action="EditStatus" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Application Status</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="CoursesAnm" asp-action="EditCoursesAnm" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Anm Courses</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="CoursesGnm" asp-action="EditCoursesGnm" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Gnm Courses</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="CoursesMbbs" asp-action="EditCoursesMbbs" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>MBBS Courses</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Gender" asp-action="EditGender" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Gender</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Religion" asp-action="EditReligion" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Religion</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Nationality" asp-action="EditNationality" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Nationality</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Session" asp-action="EditSession" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Session</p>
                                    </a>
                                </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Small boxes (Stat box) -->
                    @RenderBody()
                    <!-- /.row -->
                    <!-- Main row -->
                    <!-- /.row (main row) -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.2.0
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Dashboard/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Dashboard/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/Dashboard/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/Dashboard/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Dashboard/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/Dashboard/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/Dashboard/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Dashboard/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Dashboard/plugins/moment/moment.min.js"></script>
    <script src="~/Dashboard/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Dashboard/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/Dashboard/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Dashboard/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Dashboard/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Dashboard/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Dashboard/dist/js/pages/dashboard.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
