<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">You do not have permission to view this resource</h6>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjtixNbewzYJVPBME7UBuys5SGLV9wbkKE8zA_gw1Xw8CNjsOOg1wdxPqF4Z4qxp6al1s&usqp=CAU" style="height:300px; width:300px" />
</div>
