@model NIC.Models.ViewModel.CoursesAnmViewModel
<a class="btn btn-primary" asp-area="" asp-controller="CoursesAnm" asp-action="EditCoursesAnm"><i class="fa-solid fa-arrow-left-to-line"></i>Go Back</a>
<form method="post" action="AddCourseAnm" class="mt-3">
    <div class="mb-3">
        <label for="" class="form-label">Anm Course Code</label>
        <input type="number" class="form-control" asp-for="AnmCourseCode" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Amn Course</label>
        <input type="text" class="form-control" asp-for="AmnCourse" />
    </div>
    <button type="submit" class="btn btn-primary">Add Anm Course</button>
    <a class="btn btn-primary" asp-controller="CoursesAnm" asp-action="EditCoursesAnm">Go Back</a>
</form>