@model NIC.Models.ViewModel.SessionViewModel
<h1>Add Session</h1>
<a class="btn btn-primary" asp-area="" asp-controller="Session" asp-action="EditSession">Go Back</a>
<form method="post" action="AddSession" class="mt-3">
    <div class="mb-3">
        <label for="" class="form-label">Session Code</label>
        <input type="number" class="form-control" asp-for="SessionCode" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">State Code</label>
        <input type="text" class="form-control" asp-for="StateCode" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Application Type</label>
        <input type="number" class="form-control" asp-for="ApplicationType" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Academic Session</label>
        <input type="number" class="form-control" asp-for="AcademicSession" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Date As On for Age CutOff</label>
        <input type="date" class="form-control" asp-for="DateAsOnforAgeCutOff" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Advertisement</label>
        <input type="file" class="form-control" asp-for="Advertisement" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Adv No</label>
        <input type="number" class="form-control" asp-for="AdvNo" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Advt Date</label>
        <input type="date" class="form-control" asp-for="AdvtDate" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Last Date For Application Date</label>
        <input type="date" class="form-control" asp-for="LastDateForApplication" />
    </div>

    <button type="submit" class="btn btn-primary">Add Session</button>
    <a class="btn btn-primary" asp-controller="Session" asp-action="EditSession"></a>
</form>