<div class="row" style="text-align:center">
    <h1>About Us</h1>
    <p>The State Department for Health and Family Welfare under the Minister for Health and Family Welfare is responsible for maintaining and developing the health care system in the State and guiding and supervising the Health and Family Welfare Programmes in the State. The services offered by the department are Preventive Health Care Services, Promotive Health Care Services, Routine Curative Services, and Rehabilitation Services etc. The activities of the department include establishment and maintenance of medical institutions with necessary infrastructure, implementation of National Disease Control and Eradication Programmes, Control of communicable as well as non communicable diseases, etc.</p>

    <p>The Health and Family Welfare Department, Government of Meghalaya is the Administrative Department. It is responsible for overseeing and coordinating the functions of the 3 Directorates:</p>

    <p>
        Directorate of Health Services, MI (Medical Institutions)
        Directorate of Health Services, MCH and FW (Maternal and Child Health and Family Welfare)
        Directorate of Health Services, R (Research)
    </p>
</div>