@model NIC.Models.ViewModel.ReligionViewModel
<a class="btn btn-primary" asp-area="" asp-controller="Religion" asp-action="EditReligion">Go Back</a>
<form method="post" action="AddReligion" class="mt-3">
    <div class="mb-3">
        <label for="" class="form-label">Religion Code</label>
        <input type="number" class="form-control" asp-for="Religion" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Religion Description</label>
        <input type="text" class="form-control" asp-for="ReligionDesc" />
    </div>
    <button type="submit" class="btn btn-primary">Add Religion</button>
    <a class="btn btn-primary" asp-controller="Religion" asp-action="EditReligion">Go Back</a>
</form>