@model NIC.Models.ViewModel.AgeCriteriaViewModel

<form method="post" action="AddAge" class="mt-3">
    <div class="mb-3">
        <label for="" class="form-label">Session Code</label>
        <input type="number" class="form-control" asp-for="SessionCode" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Category</label>
        <input type="text" class="form-control" asp-for="Category" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Age Limit Lower</label>
        <input type="number" class="form-control" asp-for="AgeLimitLower" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Age Limit Upper </label>
        <input type="number" class="form-control" asp-for="AgeLimitUpper" />
    </div>
    <button type="submit" class="btn btn-primary">Add Age Criteria</button>
    <a asp-controller="Age" asp-action="EditAge" class="btn btn-primary">Go Back</a>
</form>